*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/caches/8.9/transforms/e55425167ddcae185209473b35b48f1b/transformed/unzipped-distribution/gradle-8.9/platforms/documentation/docs/src/snippets/buildlifecycle/projectEvaluateEvents/groovy/project-a/.gitkeepdir
/gradle/caches/8.9/transforms/e55425167ddcae185209473b35b48f1b/transformed/unzipped-distribution/gradle-8.9/platforms/documentation/docs/src/snippets/buildlifecycle/projectEvaluateEvents/kotlin/project-a/.gitkeepdir
/gradle/caches/8.9/transforms/0be1a7f96692ceecbdf59301bd55c435/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/0e30a195f76c8bafff779a5eed93fb00/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/0fa4827171478c7d46ab59aeecb95f89/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1a9307cce4905dfe87614b3e8ce2ced0/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1afa70e301f9c8d14e30d6f383fb7106/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1c8ca6b452bfa16a1c6d303eeaf8d3db/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1d2cb842d00be8a32dc7b9376f8777ff/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1d7ea2848ca9e7706843ed7274605e1c/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1d30693bd7dbf84a0e5614e092a2ca10/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1df10110bcd7712b3135ddf47fac19a4/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1ed7b3a0ed5bae1b0e5e28e621b0ff66/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/1f958027e959eaab2607cfeb97f1a5da/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/2a17339f933070c2ec3228021002bf2a/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/3fec557bea4da805764baafd05f4f65f/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/4efe04212b5857f8ce05f5163f44a650/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/4f5ec162cb785b1b2c6503115382ee37/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/4fd5bad6083852a18c748bd30ba842e2/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/04e9c29505a49a6878532e72e5a4f004/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/5e677e4b37990c8b9b17e936b9f21380/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/5ed0ca2a12bd434a7622a36dac5ece8c/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/5f10d4ea954c2b9d7cad81af31da8712/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/6ada7ece54baed49eb08857e895b609b/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/6bfb1e378207cffd12ad9d816dce4670/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/6d205e81a87ecf043f5e6469a30ac101/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/06ce973070b0e9bc257527b2c539f6b0/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/06d25ff7c2ac60c05336749ee0e97aac/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/7a408de0b2797df74658cc4bf2418942/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/7a623f7f346f2226b61a360de35cb65d/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/7b36b45762c5951302afa6af4084b68d/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/7c243e8ae03d795f11fb4e52621ce654/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/7ecd0a228a6fbbc5c36d99c60f8e1bb9/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/8b16ba14437167a34c44934dbacbaf86/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/8d98f5b7fd1a9cbaaac83cf3971ee97b/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/8d253c61131946015a9e9def71d753e7/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/8ecb166167131e133126ade6da480eda/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/8fb4ddfef249f2a8177e0af79283b04d/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/9cd96f1fbf17bbbd8fb4cdb32f0b30c6/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/9e2e15593078d774bca2695508024b3e/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/9ea7940033e42e64a2b79ecc3a50b5e9/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/11eceee13cb4c3ca984fb11724ab37b1/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/19d5520e9f624c02b0dd83aa9d93bd9f/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/20e5ee819f6d35a64178934f0cde245a/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/22b5a2823dc8fce61e410c4915ac437f/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/23ff188a4928bbee36f69ace7cd20e15/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/26f8e49af26a299e22ada7ae8fd06558/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/29b606cf724293caf483e50614bb4f74/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/36eeaa80836704a522e8f0c545e821c1/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/38d58dd3bacbc075a16a5ee63d3c2da6/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/41bdd87551287bd41ce72a783314472e/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/46c71e7ff7bd6b2c89f700f6fbe7c027/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/61b07d0bfaf9927fc8c67f2e1d24e667/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/65e22289830145cc94ecf872223eebd3/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/70cb634201a20fed90adef144f49fe15/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/70df8c3c7cb5ec16624a0bbdb6fc2454/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/74d3b42f220095cf1ac27da40814d848/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/82ed27fc0332f3f1a2723d5f20144968/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/92a426e900630af56b54add294b71897/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/93bc6c46ef66a1ed7a510f1ffc4549c1/transformed/.gradle-agent-instrumented.marker
/gradle/caches/8.9/transforms/94d8f26cfc4c144efae5baf576db9821/transformed/.gradle-agent-instrumented.marker
